# cp .env.prod.example .env.prod

DB_DATABASE=hub_recursos
DB_USERNAME=hub_user
DB_PASSWORD=suasenha#

BACKEND_URL=https://api.dominio.com
FRONTEND_URL=https://dominio.com

# gerar com: php artisan key:generate
APP_KEY=base64:chave_laravel

# Email
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=senha_email
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@dominio.com
MAIL_FROM_NAME="Hub Recursos Educacionais"

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

LOG_CHANNEL=daily
LOG_LEVEL=warning
SESSION_DRIVER=database
QUEUE_CONNECTION=database
